# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
firebase-key.json   # IMPORTANT: never push your Firebase Admin key

# Node
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
